<a href="https://colab.research.google.com/github/Krithika-Devi/training/blob/main/Data_Structures-18_8_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA STRUCTURES

## **LISTS**


1.   List is a collection which is Ordered and Changeable.
2.   List Allows Duplicate numbers.

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
mylist = ['C','C++','Python','Java','Machine Learning','Computer Vision']
mylist

['C', 'C++', 'Python', 'Java', 'Machine Learning', 'Computer Vision']

* The following list indexes first and last element in a list.

In [3]:
mylist[0],mylist[-1]

('C', 'Computer Vision')

* The following list indexes first 3 elements in 'mylist' by ignoring last three elements.

In [4]:
mylist[:-3]

['C', 'C++', 'Python']

* The following list indexes element 1 and 2 in 'mylist'. The last element 3 in a range is not considered.

In [5]:
mylist[1:3]

['C++', 'Python']


> * Indexing multiple lists

In [6]:
x = [10,20,[20,30,[20,10,60],[80,90]],[90,10]]

In [7]:
x[2][2][2] #getting element 60 from third element in list 'x'

60

In [8]:
print(type(x)) #getting type of 'x' variable

<class 'list'>

* **index()** - Indexing the element


> The following 'ind' assignment variable finds the index number of the value '50'.

In [9]:
lst = [10,20,30,40,50,40,60,70,80,90,40]
ind = lst.index(50)
ind

4


> Now, changing the element of this 'index 4' as '200'.

In [10]:
lst[ind]=200
print(lst)

[10, 20, 30, 40, 200, 40, 60, 70, 80, 90, 40]

* **sort()** - Sorting the list.

In [11]:
lst1 = [34,65,76,23,12,87,97,23,22,76,88,11,10,9,4,102]
sortedlist = sorted(lst1)
sortedlist

[4, 9, 10, 11, 12, 22, 23, 23, 34, 65, 76, 76, 87, 88, 97, 102]

In [12]:
# Aliter:
lst1.sort()
lst1

[4, 9, 10, 11, 12, 22, 23, 23, 34, 65, 76, 76, 87, 88, 97, 102]

* append() - Appending in the list -- 'mylist'

In [13]:
mylist

['C', 'C++', 'Python', 'Java', 'Machine Learning', 'Computer Vision']

In [14]:
mylist.append('Deep Learning')
mylist

['C',
 'C++',
 'Python',
 'Java',
 'Machine Learning',
 'Computer Vision',
 'Deep Learning']

* **insert()** - Inserting in the list

In [15]:
mylist.insert(3,'MS Azure')
mylist

['C',
 'C++',
 'Python',
 'MS Azure',
 'Java',
 'Machine Learning',
 'Computer Vision',
 'Deep Learning']

* remove() - Removing particular element in the list.

In [16]:
mylist.remove("Java")
mylist

['C',
 'C++',
 'Python',
 'MS Azure',
 'Machine Learning',
 'Computer Vision',
 'Deep Learning']

* **clear()** - Clearing the list



> Using function clear() to remove all the elements in the list.

In [17]:
mylist.clear()
mylist

[]

 * **copy()** - Copying the list

In [18]:
lst

[10, 20, 30, 40, 200, 40, 60, 70, 80, 90, 40]

In [19]:
mylist = lst.copy()
mylist

[10, 20, 30, 40, 200, 40, 60, 70, 80, 90, 40]

* **count()** - Counting the elements in the list.


> count() returns the number of times the specified value occurs.

In [20]:
l = mylist.count(40)
l

3



> * Appending multiple values including string to a list and counting that element in 'mylist'

In [21]:
mylist.extend(['Mexico', 22,'UK',78,'London',102])

In [22]:
print(mylist)

[10, 20, 30, 40, 200, 40, 60, 70, 80, 90, 40, 'Mexico', 22, 'UK', 78, 'London', 102]

In [23]:
c = mylist.count('Mexico')
c

1

* pop() - Removes the element



> Removing the 4th index value from the list. That is, removing 5th value '200'

In [24]:
mylist.pop(4)

200



> Without mentioning index value under pop() function, removes the last element from a list. That is, at index '-1'Indented block

In [25]:
mylist.pop()

102

In [26]:
print(mylist)

[10, 20, 30, 40, 40, 60, 70, 80, 90, 40, 'Mexico', 22, 'UK', 78, 'London']


***Appending and removing the element at the same time using loop condition***

In [27]:
lst_ = []
for i in range(0,10): #The range 0 to 10 specifies that list contains 10 elements
  a = int(input("Enter element of list "))
  lst_.append(a)

Enter element of list 4
Enter element of list 9
Enter element of list 8
Enter element of list 10
Enter element of list 5
Enter element of list 3
Enter element of list 2
Enter element of list 7
Enter element of list 11
Enter element of list 15

In [28]:
print(lst_)

[4, 9, 8, 10, 5, 3, 2, 7, 11, 15]

Getting only even numbers from a list by removing odd numbers.

In [29]:
lst_ = [num for num in lst_ if num%2==0] #List comprehension of even numbers.

print(lst_)

[4, 8, 10, 2]

* **reverse()** - Reverses the list ('lst_')

In [30]:
lst_.reverse()
print(lst_)

[2, 10, 8, 4]

In [31]:
len(lst_) #getting a length of list

4

## **TUPLES**


1.   Tuple is a collection which is Ordered and UnChangeable,
     i.e., in Tuple, We cannot append, change or remove element.
2.   Tuple Allows Duplicate numbers.

In [32]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [33]:
tupl = (23,'Sam',"Sam@gmail.com",'Washington, United States', 24,2.5,24,26,2.8)

* Length of tuple - Getsting a length of 'tupl'

In [34]:
len(tupl)

9

* **count()** - Counts the number of elements in tuple

In [35]:
tupl.count('Washington, United States')

1

In [36]:
tupl.count(24)

2


> *Since, tuple cannot be appended to a new element, I'm appending the new elements by creating another tuple and adding these two tuples to one more new (third) tuple.*

In [37]:
print(tupl)

(23, 'Sam', 'Sam@gmail.com', 'Washington, United States', 24, 2.5, 24, 26, 2.8)

In [38]:
tupl2 = (28, 'Krithika', 'krithika@cognizant.com', 'Chennai, India')

tupl3 = tupl + tupl2
print(tupl3)

(23, 'Sam', 'Sam@gmail.com', 'Washington, United States', 24, 2.5, 24, 26, 2.8, 28, 'Krithika', 'krithika@cognizant.com', 'Chennai, India')

* **del** function is to delete the created tuple.

In [39]:
del tupl2

In [40]:
print(tupl2)

NameError: ignored

* Getting maximum and minimum value in tuple

> Using **max()** and **min()** functions to get maximum and minimum value in tuple.

In [41]:
newtupl = (1,3,8,2,6,4,9,5,10,7)
max(newtupl)

10

In [42]:
min(newtupl)

1

* Sorting the tuple 

> *   Tuple sorts in ascending order in a default way.


> *   To sort in descending order, I'm using ***reverse*** function inside ***sorted*** function.

In [43]:
asc_tupl = sorted(newtupl)
asc_tupl

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
desc_tupl = sorted(newtupl,reverse=True)
desc_tupl

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
print(type(newtupl)) # getting type of 'newtupl' assignment operator

<class 'tuple'>

## **Sets**


1.   Set is a collection of which is Unordered and Unindexed. It is a collection of Unique elements.
2.   Set does not allow Duplicate numbers.

In [46]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [47]:
st = {'Germany', 1.64, 'Japan', 2890, 'India','Phillipines','Japan','Europe',2890,1.64,1.64,62,'Europe','India'}

In [48]:
st

{1.64, 2890, 62, 'Europe', 'Germany', 'India', 'Japan', 'Phillipines'}

* Adding the element using **add()** function. This helps to add only single element in a set.

In [49]:
st.add('Business')

In [50]:
print(st)

{1.64, 'Business', 2890, 'Phillipines', 'Japan', 'India', 'Europe', 'Germany', 62}

* Adding the multiple elements using **update()** function. This helps to add multiple elements in a set.

In [51]:
st1=['Cognizant','Google',108,'Google'] 
st2=[(22,'maths'),(23,'statistics')] 
st.update(st1,st2) #adding list 'st1' and list containing tuples 'st2'
print(st)

{1.64, 'Business', 'Cognizant', 2890, 'Phillipines', 108, 'Japan', 'India', (23, 'statistics'), (22, 'maths'), 'Europe', 'Germany', 'Google', 62}

* **Union()** method, returns a set that contains all items from the original set, and all items from the specified set(s).

In [52]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
s3 = s1.union(s2)
s3

{1.14, 2, 4, 'a', 'b', 'c', 'd', 'e', 'f'}

* **symmetric_difference()** method, returns a set that contains all items from both set, but not the items that are present in both sets.

In [53]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
s1.symmetric_difference(s2)

{1.14, 4, 'a', 'b', 'c', 'f'}

* **symmetric_difference_update()** method, updates the original set by removing items that are present in both sets, and inserting the other items.

In [54]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
s1.symmetric_difference_update(s2)
s1

{1.14, 4, 'a', 'b', 'c', 'f'}

* **remove()** method, removes the specified element from the set.

In [55]:
st1={'Cognizant','Google',108,'Google'}
st1.remove('Google')
st1

{108, 'Cognizant'}

In [56]:
st2=[(22,'maths'),(23,'statistics')] #list contatins tuple element.
                                     #Thus, removing specified tuple element in a list.
st2.remove((22,'maths'))
st2

[(23, 'statistics')]

* Using **discard()** method, we remove the specified item from the set.

*This method is different from the **remove()** method, because the **remove()** method will raise an error if the specified item does not exist, and the **discard()** method will not.*

In [57]:
st1={'Cognizant','Google',108,'Google'}
st1.discard('Google')
st1

{108, 'Cognizant'}

In [58]:
st1.discard(128)
st1

{108, 'Cognizant'}

In [59]:
st1.remove(128)

KeyError: ignored

*In below cell, we cannot able to call specified index to get element in a set, since set is a collection of unindexed elements.*

In [60]:
s1 = {'a','b',2,'c','d','e','f'}
s1[2]

TypeError: ignored

* In set, **pop()** method removes a random item from the set. This method removes the removed item.

In [61]:
s1 = {('a',4),'b','c','d','e',('f',8)}
s1.pop()

('f', 8)

In [62]:
s1

{('a', 4), 'b', 'c', 'd', 'e'}

* The **copy()** method copies the set.

In [63]:
s1 = {('a',4),'b','c','d','e',('f',8)}
s1

{('a', 4), ('f', 8), 'b', 'c', 'd', 'e'}

In [64]:
record = s1.copy()
record

{('a', 4), ('f', 8), 'b', 'c', 'd', 'e'}

* The **difference()** method returns a set that contains the difference between two sets.

In [65]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
z = s2.difference(s1) # returns 's2' value that are not in 's1'
z

{1.14, 4}

* The **difference_update()** method removes the items that exist in both sets.

*The **difference_update()** method is different from the **difference() method**, because the **difference()** method returns a new set, without the unwanted items, and the **difference_update()** method removes the unwanted items from the original set.*

In [66]:
x = {'a','b','c'}
y = {'c','d','e','f'}
x.difference_update(y) # returns 's2' value that are not in 's1'
print(x)

{'b', 'a'}

* The **intersection()** method returns a set that contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [67]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
s3 = {'a',2,'c','e'}
result = s1.intersection(s2, s3)

print(result)

{'e', 2}

* The **intersection_update()** method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

*The **intersection_update()** method is different from the **intersection() method**, because the **intersection()** method returns a new set, without the unwanted items, and the **intersection_update()** method removes the unwanted items from the original set.*

In [68]:
s1 = {'a','b',2}
s3 = {'a',2,'z'}
s1.intersection_update(s3)
s1

{2, 'a'}

* The **isdisjoint()** method returns True if none of the items are present in both sets, otherwise it returns False.

In [69]:
st1 = {'Cognizant','Infosys','The Math Company'}
st2 = {'Google','Microsoft','Amazon'}
st1.isdisjoint(st2)

True

In [70]:
st1 = {'Cognizant','Google','The Math Company'}
st2 = {'Google','Microsoft','Amazon'}
st1.isdisjoint(st2)

False

* The **issubset()** method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [71]:
st1 = {'Cognizant','Infosys','The Math Company'}
st2 = {'Google','Microsoft','Amazon','Cognizant','Infosys','The Math Company'}
st1.issubset(st2)

True

* The **issuperset()** method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [72]:
st1 = {'Cognizant','Infosys','The Math Company','Google','Microsoft','Amazon'}
st2 = {'Google','Microsoft','Amazon'}
st1.issuperset(st2)

True


*   Using **clear()** method to delete/clear all the items in the set.

In [73]:
st2 = {'Google','Microsoft','Amazon'}
st2.clear()
st2

set()

## **Dictionaries**


1.   Dictionary is a collection of which is Unordered, Changeable and indexed.
2.   Dictionary does not allow Duplicate numbers.

In [74]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

* Indexing

In [75]:
d = {'Maths':98,'Statistics':89, 9.5:'Soft Skill'}
d['Maths']

98

In [76]:
d['Maths']=85
d

{'Maths': 85, 'Statistics': 89, 9.5: 'Soft Skill'}

In [77]:
d1 = {'Class_1':{'Maths':[98,80,67]},'Class_2':{'Statistics':[89,43,56]}} #getting mark '43' in statistics under Class_2  by indexing.
d1['Class_2']['Statistics'][1]

43

* **keys()** - returns a list containing dictionary's keys.

In [78]:
d1.keys()

dict_keys(['Class_1', 'Class_2'])

In [79]:
d1.values()

dict_values([{'Maths': [98, 80, 67]}, {'Statistics': [89, 43, 56]}])

* **update()** - inserts the specified items into the dictionary.

In [80]:
d = {'Maths':85,'Statistics':89, 9.5:'Soft Skill'}
d.update({'Python':95,'Machine Learning':89})
print(d)

{'Maths': 85, 'Statistics': 89, 9.5: 'Soft Skill', 'Python': 95, 'Machine Learning': 89}

* **setdefault()** - returns the value of the item with the specified key.

In [81]:
d.setdefault(9.5,'Python')

'Soft Skill'

*Since key does not exist in the below cell,it inserts the key, with the specified value.*

In [82]:
d.setdefault('practical',92)

92

In [83]:
print(d)

{'Maths': 85, 'Statistics': 89, 9.5: 'Soft Skill', 'Python': 95, 'Machine Learning': 89, 'practical': 92}

* **popitem()** - removes the item that was last inserted into the dictionary.

In [84]:
d.popitem()

('practical', 92)

In [85]:
print(d)

{'Maths': 85, 'Statistics': 89, 9.5: 'Soft Skill', 'Python': 95, 'Machine Learning': 89}

* **pop()** removes the specified key item from the dictionary.

In [86]:
d.pop(9.5)
print(d)

{'Maths': 85, 'Statistics': 89, 'Python': 95, 'Machine Learning': 89}

* **items()** - returns a key-value pairs of the dictionary, as tuples in a list.

In [87]:
d.items()

dict_items([('Maths', 85), ('Statistics', 89), ('Python', 95), ('Machine Learning', 89)])

* **get()** - returns the value of the item with the specified key.

In [88]:
d.get('Python', 'Statistics')

95

In [89]:
d.get('Java',67) # returns the value of an item that do not exist

67

* **fromkeys()** - returns a dictionary with the specified keys and the specified value.

In [90]:
d1 = ('Cricket','Hockey','Badminton')
d2 = ({'rating':5})

pairs = dict.fromkeys(d1,d2)
print(pairs)

{'Cricket': {'rating': 5}, 'Hockey': {'rating': 5}, 'Badminton': {'rating': 5}}