In [5]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\2211570\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\2211570\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Requirement already satisfied: mysql-connector-python in c:\users\2211570\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\2211570\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector as sql

In [9]:
connection = sql.connect(host = "localhost",
                        user = "root",
                        password = "password-1")
                        
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FC2AB74AF0>

### Creating Database

In [10]:
mycursor = connection.cursor()
mycursor.execute("CREATE DATABASE student")

In [11]:
mycursor = connection.cursor()
mycursor.execute("SHOW DATABASES")

In [12]:
for x in mycursor:
    print(x)

('assessment',)
('entrylevel_employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

In [15]:
mycursor = connection.cursor()
mycursor.execute("USE entrylevel_employee")

In [17]:
mycursor = connection.cursor()
mycursor.execute("SHOW TABLES")

In [18]:
for y in mycursor:
    print(y)

('associate_feedback',)
('associate_info',)
('associate_status',)
('batch_info',)
('course',)
('course_fees',)
('course_fees_history',)
('course_info',)
('course_struc',)
('login_details',)
('module_info',)
('newcol',)
('products',)
('questions',)
('student_info',)
('suppliers',)
('trainer_feedback',)
('trainer_info',)

In [23]:
mycursor = connection.cursor()
mycursor.execute("DROP TABLE newcol")

In [48]:
mycursor = connection.cursor()
mycursor.execute("DROP TABLE genc_info")

In [30]:
mycursor = connection.cursor()
mycursor.execute("SHOW TABLES")

In [31]:
for y in mycursor:
    print(y)

('associate_feedback',)
('associate_info',)
('associate_status',)
('batch_info',)
('course',)
('course_fees',)
('course_fees_history',)
('course_info',)
('course_struc',)
('login_details',)
('module_info',)
('products',)
('questions',)
('student_info',)
('suppliers',)
('trainer_feedback',)
('trainer_info',)

In [49]:
mycursor = connection.cursor()
mycursor.execute("CREATE TABLE genc_info (genc_id int primary key auto_increment, genc_name varchar(80), cohort varchar(80))")

In [54]:
query = "INSERT INTO genc_info (genc_name, cohort) VALUES (%s, %s)"
values = [("Krithika","AI&ML"), 
          ("Gayathri","Technical"), 
          ("Buvana","DS")]
connection.commit()

In [55]:
mycursor.executemany(query,values)

In [56]:
mycursor = connection.cursor()
mycursor.execute("SELECT * FROM genc_info")
mycursor.fetchall()

[(1, 'Krithika', 'AI&ML'), (2, 'Gayathri', 'Technical'), (3, 'Buvana', 'DS')]

In [59]:
mycursor = connection.cursor()
mycursor.execute("SELECT * FROM genc_info WHERE genc_name = 'Krithika'")
mycursor.fetchall()

[(1, 'Krithika', 'AI&ML')]

In [60]:
mycursor = connection.cursor()
mycursor.execute("SELECT cohort FROM genc_info")
mycursor.fetchall()

[('AI&ML',), ('Technical',), ('DS',)]