<a href="https://colab.research.google.com/github/Krithika-Devi/training/blob/main/Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **LISTS**


1.   List is a collection which is Ordered and Changeable.
2.   List Allows Duplicate numbers.

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
mylist = ['C','C++','Python','Java','Machine Learning','Computer Vision']
mylist

['C', 'C++', 'Python', 'Java', 'Machine Learning', 'Computer Vision']

* The following list indexes first and last element in a list.

In [ ]:
mylist[0],mylist[-1]

('C', 'Computer Vision')

* The following list indexes first 3 elements in 'mylist' by ignoring last three elements.

In [ ]:
mylist[:-3]

['C', 'C++', 'Python']

* The following list indexes element 1 and 2 in 'mylist'. The last element 3 in a range is not considered.

In [ ]:
mylist[1:3]

['C++', 'Python']


> * Indexing multiple lists

In [ ]:
x = [10,20,[20,30,[20,10,60],[80,90]],[90,10]]

In [ ]:
x[2][2][2] #getting element 60 from third element in list 'x'

60

In [ ]:
print(type(x)) #getting type of 'x' variable

<class 'list'>

* **index()** - Indexing the element


> The following 'ind' assignment variable finds the index number of the value '50'.

In [ ]:
lst = [10,20,30,40,50,40,60,70,80,90,40]
ind = lst.index(50)
ind

4


> Now, changing the element of this 'index 4' as '200'.

In [ ]:
lst[ind]=200
print(lst)

[10, 20, 30, 40, 200, 40, 60, 70, 80, 90, 40]

* **sort()** - Sorting the list.

In [ ]:
lst1 = [34,65,76,23,12,87,97,23,22,76,88,11,10,9,4,102]
sortedlist = sorted(lst1)
sortedlist

[4, 9, 10, 11, 12, 22, 23, 23, 34, 65, 76, 76, 87, 88, 97, 102]

In [ ]:
# Aliter:
lst1.sort()
lst1

[4, 9, 10, 11, 12, 22, 23, 23, 34, 65, 76, 76, 87, 88, 97, 102]

* append() - Appending in the list -- 'mylist'

In [ ]:
mylist

['C', 'C++', 'Python', 'Java', 'Machine Learning', 'Computer Vision']

In [ ]:
mylist.append('Deep Learning')
mylist

['C',
 'C++',
 'Python',
 'Java',
 'Machine Learning',
 'Computer Vision',
 'Deep Learning']

* **insert()** - Inserting in the list

In [ ]:
mylist.insert(3,'MS Azure')
mylist

['C',
 'C++',
 'Python',
 'MS Azure',
 'Java',
 'Machine Learning',
 'Computer Vision',
 'Deep Learning']

* remove() - Removing particular element in the list.

In [ ]:
mylist.remove("Java")
mylist

['C',
 'C++',
 'Python',
 'MS Azure',
 'Machine Learning',
 'Computer Vision',
 'Deep Learning']

* **clear()** - Clearing the list



> Using function clear() to remove all the elements in the list.

In [ ]:
mylist.clear()
mylist

[]

 * **copy()** - Copying the list

In [ ]:
lst

[10, 20, 30, 40, 200, 40, 60, 70, 80, 90, 40]

In [ ]:
mylist = lst.copy()
mylist

[10, 20, 30, 40, 200, 40, 60, 70, 80, 90, 40]

* **count()** - Counting the elements in the list.


> count() returns the number of times the specified value occurs.

In [ ]:
l = mylist.count(40)
l

3



> * Appending multiple values including string to a list and counting that element in 'mylist'

In [ ]:
mylist.extend(['Mexico', 22,'UK',78,'London',102])

In [ ]:
print(mylist)

[10, 20, 30, 40, 200, 40, 60, 70, 80, 90, 40, 'Mexico', 22, 'UK', 78, 'London', 102]

In [ ]:
c = mylist.count('Mexico')
c

1

* pop() - Removes the element



> Removing the 4th index value from the list. That is, removing 5th value '200'

In [ ]:
mylist.pop(4)

200



> Without mentioning index value under pop() function, removes the last element from a list. That is, at index '-1'Indented block

In [ ]:
mylist.pop()

102

In [ ]:
print(mylist)

[10, 20, 30, 40, 40, 60, 70, 80, 90, 40, 'Mexico', 22, 'UK', 78, 'London']


***Appending and removing the element at the same time using loop condition***

In [ ]:
lst_ = []
for i in range(0,10): #The range 0 to 10 specifies that list contains 10 elements
  a = int(input("Enter element of list "))
  lst_.append(a)

Enter element of list 4
Enter element of list 9
Enter element of list 8
Enter element of list 10
Enter element of list 5
Enter element of list 3
Enter element of list 2
Enter element of list 7
Enter element of list 11
Enter element of list 15

In [ ]:
print(lst_)

[4, 9, 8, 10, 5, 3, 2, 7, 11, 15]

Getting only even numbers from a list by removing odd numbers.

In [ ]:
lst_ = [num for num in lst_ if num%2==0] #List comprehension of even numbers.

print(lst_)

[4, 8, 10, 2]

* **reverse()** - Reverses the list ('lst_')

In [ ]:
lst_.reverse()
print(lst_)

[2, 10, 8, 4]

In [ ]:
len(lst_) #getting a length of list

4