<a href="https://colab.research.google.com/github/Krithika-Devi/training/blob/main/Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Sets**


1.   Set is a collection of which is Unordered and Unindexed. It is a collection of Unique elements.
2.   Set does not allow Duplicate numbers.

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
st = {'Germany', 1.64, 'Japan', 2890, 'India','Phillipines','Japan','Europe',2890,1.64,1.64,62,'Europe','India'}

In [ ]:
st

{1.64, 2890, 62, 'Europe', 'Germany', 'India', 'Japan', 'Phillipines'}

* Adding the element using **add()** function. This helps to add only single element in a set.

In [ ]:
st.add('Business')

In [ ]:
print(st)

{1.64, 'Business', 2890, 'Phillipines', 'Japan', 'India', 'Europe', 'Germany', 62}

* Adding the multiple elements using **update()** function. This helps to add multiple elements in a set.

In [ ]:
st1=['Cognizant','Google',108,'Google'] 
st2=[(22,'maths'),(23,'statistics')] 
st.update(st1,st2) #adding list 'st1' and list containing tuples 'st2'
print(st)

{1.64, 'Business', 'Cognizant', 2890, 'Phillipines', 108, 'Japan', 'India', (23, 'statistics'), (22, 'maths'), 'Europe', 'Germany', 'Google', 62}

* **Union()** method, returns a set that contains all items from the original set, and all items from the specified set(s).

In [ ]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
s3 = s1.union(s2)
s3

{1.14, 2, 4, 'a', 'b', 'c', 'd', 'e', 'f'}

* **symmetric_difference()** method, returns a set that contains all items from both set, but not the items that are present in both sets.

In [ ]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
s1.symmetric_difference(s2)

{1.14, 4, 'a', 'b', 'c', 'f'}

* **symmetric_difference_update()** method, updates the original set by removing items that are present in both sets, and inserting the other items.

In [ ]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
s1.symmetric_difference_update(s2)
s1

{1.14, 4, 'a', 'b', 'c', 'f'}

* **remove()** method, removes the specified element from the set.

In [ ]:
st1={'Cognizant','Google',108,'Google'}
st1.remove('Google')
st1

{108, 'Cognizant'}

In [ ]:
st2=[(22,'maths'),(23,'statistics')] #list contatins tuple element.
                                     #Thus, removing specified tuple element in a list.
st2.remove((22,'maths'))
st2

[(23, 'statistics')]

* Using **discard()** method, we remove the specified item from the set.

*This method is different from the **remove()** method, because the **remove()** method will raise an error if the specified item does not exist, and the **discard()** method will not.*

In [ ]:
st1={'Cognizant','Google',108,'Google'}
st1.discard('Google')
st1

{108, 'Cognizant'}

In [ ]:
st1.discard(128)
st1

{108, 'Cognizant'}

In [ ]:
st1.remove(128)

KeyError: ignored

*In below cell, we cannot able to call specified index to get element in a set, since set is a collection of unindexed elements.*

In [ ]:
s1 = {'a','b',2,'c','d','e','f'}
s1[2]

TypeError: ignored

* In set, **pop()** method removes a random item from the set. This method removes the removed item.

In [ ]:
s1 = {('a',4),'b','c','d','e',('f',8)}
s1.pop()

('f', 8)

In [ ]:
s1

{('a', 4), 'b', 'c', 'd', 'e'}

* The **copy()** method copies the set.

In [ ]:
s1 = {('a',4),'b','c','d','e',('f',8)}
s1

{('a', 4), ('f', 8), 'b', 'c', 'd', 'e'}

In [ ]:
record = s1.copy()
record

{('a', 4), ('f', 8), 'b', 'c', 'd', 'e'}

* The **difference()** method returns a set that contains the difference between two sets.

In [ ]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
z = s2.difference(s1) # returns 's2' value that are not in 's1'
z

{1.14, 4}

* The **difference_update()** method removes the items that exist in both sets.

*The **difference_update()** method is different from the **difference() method**, because the **difference()** method returns a new set, without the unwanted items, and the **difference_update()** method removes the unwanted items from the original set.*

In [ ]:
x = {'a','b','c'}
y = {'c','d','e','f'}
x.difference_update(y) # returns 's2' value that are not in 's1'
print(x)

{'b', 'a'}

* The **intersection()** method returns a set that contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [ ]:
s1 = {'a','b',2,'c','d','e','f'}
s2 = {'d',4,'e',2,1.14}
s3 = {'a',2,'c','e'}
result = s1.intersection(s2, s3)

print(result)

{'e', 2}

* The **intersection_update()** method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

*The **intersection_update()** method is different from the **intersection() method**, because the **intersection()** method returns a new set, without the unwanted items, and the **intersection_update()** method removes the unwanted items from the original set.*

In [ ]:
s1 = {'a','b',2}
s3 = {'a',2,'z'}
s1.intersection_update(s3)
s1

{2, 'a'}

* The **isdisjoint()** method returns True if none of the items are present in both sets, otherwise it returns False.

In [ ]:
st1 = {'Cognizant','Infosys','The Math Company'}
st2 = {'Google','Microsoft','Amazon'}
st1.isdisjoint(st2)

True

In [ ]:
st1 = {'Cognizant','Google','The Math Company'}
st2 = {'Google','Microsoft','Amazon'}
st1.isdisjoint(st2)

False

* The **issubset()** method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [ ]:
st1 = {'Cognizant','Infosys','The Math Company'}
st2 = {'Google','Microsoft','Amazon','Cognizant','Infosys','The Math Company'}
st1.issubset(st2)

True

* The **issuperset()** method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [ ]:
st1 = {'Cognizant','Infosys','The Math Company','Google','Microsoft','Amazon'}
st2 = {'Google','Microsoft','Amazon'}
st1.issuperset(st2)

True


*   Using **clear()** method to delete/clear all the items in the set.

In [ ]:
st2 = {'Google','Microsoft','Amazon'}
st2.clear()
st2

set()