<a href="https://colab.research.google.com/github/Krithika-Devi/training/blob/main/Python_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **TUPLES**


1.   Tuple is a collection which is Ordered and UnChangeable,
     i.e., in Tuple, We cannot append, change or remove element.
2.   Tuple Allows Duplicate numbers.

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
tupl = (23,'Sam',"Sam@gmail.com",'Washington, United States', 24,2.5,24,26,2.8)

* Length of tuple - Getsting a length of 'tupl'

In [ ]:
len(tupl)

9

* **count()** - Counts the number of elements in tuple

In [ ]:
tupl.count('Washington, United States')

1

In [ ]:
tupl.count(24)

2


> *Since, tuple cannot be appended to a new element, I'm appending the new elements by creating another tuple and adding these two tuples to one more new (third) tuple.*

In [ ]:
print(tupl)

(23, 'Sam', 'Sam@gmail.com', 'Washington, United States', 24, 2.5, 24, 26, 2.8)

In [ ]:
tupl2 = (28, 'Krithika', 'krithika@cognizant.com', 'Chennai, India')

tupl3 = tupl + tupl2
print(tupl3)

(23, 'Sam', 'Sam@gmail.com', 'Washington, United States', 24, 2.5, 24, 26, 2.8, 28, 'Krithika', 'krithika@cognizant.com', 'Chennai, India')

* **del** function is to delete the created tuple.

In [ ]:
del tupl2

In [ ]:
print(tupl2)

NameError: ignored

* Getting maximum and minimum value in tuple

> Using **max()** and **min()** functions to get maximum and minimum value in tuple.

In [ ]:
newtupl = (1,3,8,2,6,4,9,5,10,7)
max(newtupl)

10

In [ ]:
min(newtupl)

1

* Sorting the tuple 

> *   Tuple sorts in ascending order in a default way.


> *   To sort in descending order, I'm using ***reverse*** function inside ***sorted*** function.

In [ ]:
asc_tupl = sorted(newtupl)
asc_tupl

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
desc_tupl = sorted(newtupl,reverse=True)
desc_tupl

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
print(type(newtupl)) # getting type of 'newtupl' assignment operator

<class 'tuple'>